.container {
    display: flex;
    padding: 5rem 4rem 5rem 4rem;
    align-items: flex-start;
    justify-content: space-between;
    height: 50rem;
    gap: 10rem;
}

.big-text {
    font-size: 5vh;
}

.userData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10vh;
}