$blue: #006ac6;
$yellow: #fab700;
$light-gray: #F1F1F1;

.title {
    text-transform: uppercase;
    font-weight: bold;
    color: $blue;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.cell {
    padding: 0.75rem;
    border: solid 1px $light-gray;
}

.border-y {
    border-top: solid 3px $yellow;
    border-bottom: solid 3px $yellow;
}

table {
    width: 40vw;
    height: 40vh;
}