.my-data-container {
    display: flex;
    flex-direction: row;
    gap: 15rem;
}

.btns-container {
    display: flex;
    column-gap: 2rem;
}

.page-container {
    display: flex;  
    padding-top: 5rem;
    flex-direction: row;
    column-gap: 15rem;
    align-items: center;
    justify-content: center;
}

